<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Recipe Share</title>
</head>
<body>
    <div class="card-body m-4">
        <div>
            <div class="row">
                <h3 class="navbar">Welcome, {{session['first_name']}}</h3>
                <div class="navbar-links">
                    <a href="/dashboard">back to recipes</a>
                    <a href="/logout">logout</a>
                </div>
            </div>
            <div class="row">
                <h3 class="card-title text-primary row">{{recipe.recipe_name}}</h3>
                <p class="col-md-3">Posted by: {{ recipe.baker.first_name }}</p>
            </div>    
                <div class="border">
                    <div class="row d-flex " >
                        <div class="col-md-3 pl-5 pr-10">Description:</div>
                        <div class="col-md-9 pl-5 pr-10">{{recipe.description}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pl-5 pr-10">Under 30 Minutes:</div>
                        <div class="col-md-9 pl-5 pr-10">{{recipe.under_thirty}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pl-5 pr-10">Instructions:</div>
                        <div class="col-md-9 pl-5 pr-10">{{recipe.instructions}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pl-5 pr-10">Date Made:</div>
                        <div class="col-md-9 pl-5 pr-10">{{recipe.date_made}}</div>
                    </div>
                </div>
            </div>
            <a href="/" class="text-center mx-auto">Home</a>
        </div>
    </div>
</body>
</html>