<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cookie Orders</title>
</head>
<body>
    <form action="/order/create" method="post" class="col-6 mx-auto">
        <h2 class="text-center">Log a New Order</h2>
        <a class="text-right" href="/cookies"> Back to Purchases </a>
        {% with messages = get_flashed_messages() %}    <!-- declare a variable called messages -->
            {% if messages %}                               <!-- check if there are any messages -->
                {% for message in messages %}               <!-- loop through the messages -->
                    <p>{{message}}</p>                      <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="form-group">
            <label for="customer_name">Customer Name:</label>
            <input type="text" name="customer_name"  class="form-control">
        </div>
        <div class="form-group">
            <label for="cookie_type">Cooke Type:</label>
            <input type="text" name="cookie_type"  class="form-control">
        </div>
        <div class="form-group">
            <label for="number_of_boxes">Number of Boxes:</label>
            <input type="text" name="number_of_boxes"  class="form-control">
        </div>
        <input type="submit" value="Log" class="btn btn-success">

    </form>
</body>
</html>