*{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: sans-serif;
    flex-wrap: wrap;
}
div.result{
    display: inline;
    width: 500px;
    flex-wrap: wrap;
    height: 500px;
    margin: 100px;
    border: solid black .25rem;
}
h1{
    padding: 5px;
    margin: 10px;
}
p{
    margin-left: 25px;
    margin-top: 15px;
}
.btnReset{
    margin-left: 400px;
    margin-right: 25px;
    margin-top: 25px;
    padding-left: 5px;
    background-color: darkcyan;
    color: white;
    border: solid .25px black;
}